<% if resource.errors.any? %>
<div  data-turbo-cache="false" class="error-messages">

                <ul id="error_explanation" class="error-messages-text">
                    <% resource.errors.full_messages.each do |message| %>
                    <% 
                field = message.split(' ').first.downcase
                error_type = message.split(' ')[1..-1].join(' ')
                
                custom_message = case [field, error_type]
                when ['email', 'has already been taken']
                  "This email has already been taken"
                when ['email', "can't be blank"]
                  "Email can't be blank"
                when ['password', "can't be blank"]
                  "Password can't be blank"
                when ['password', 'is too short (minimum is 6 characters)']
                  "Password must be at least 6 characters long"
                when ['password_confirmation', "doesn't match Password"]
                  "Password confirmation does not match"
                else
                  "Invalid Password"
                end
              %>
                    <li><%= custom_message %></li>
                    <% end %>
                </ul>
</div>
<% end %>