<div class="posts-page-container">

    <div class="new-posts-header">
        <h1 class="posts-title"> Edit Post</h1>
    </div>

    <div>
        <%= render 'posts/partials/form', post: @post %>
    </div>

</div>