.navbar {
  background-color: rgb(31, 41, 55); /* bg-gray-800 */
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 1px 3px 0 rgba(145, 132, 132, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-link {
  color: rgb(209, 213, 219);
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.navbar-link:hover {
  color: white;
}

.navbar-button {
  color: white;
  background-color: transparent;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: rgb(220, 38, 38);
} 