.share-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.share-menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    color: #595959;
}

.share-menu-item svg {
    width: 16px;
    height: 16px;
}

.share-menu-item svg:hover {
    color: #0066ff;
}